body {
    background-color: rgb(216, 211, 211);
}

.CardPoke {
   background-color: rgba(224, 54, 54, 0.678);
   border-radius: 5em;
}

.FigCap {
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.ButPrev {
    background-color: black;
    color: aqua;
    border-radius: 5em;
}

.ButNext {
    background-color: black;
    color: aqua;
    margin-left: 1em;
    border-radius: 5em;
}

.Bouton {
    background-color: gray;
    border-radius: 5em;
}